@using RentalsWebApp.ViewModels
@model UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <h1>Tenant Profile Summary</h1>
}
else
{
    <h1>Profile Summary</h1>
}

<div class="container-xl px-4 nt-4">
    <form>
        <input type="hidden" id="Id" name="Id" asp-for="Id" />
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">User Profile</div>        
                    <div class="card-body text-center">
                        <img class="img-account-profile rounded-circle mb-2" src="@Model.ProfileImageUrl" alt="profile-image">
                        <h4 class="m-b-5">@Model.Name</h4>
                        <div class="text-left m-t-40">
                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">@Model.Name @Model.Surname</span></p>
                            <p class="text-muted font-13"><strong>Mobile :</strong> <span class="m-l-15">@Model.PhoneNumber</span></p>
                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@Model.Email</span></p>
                            <p class="text-muted font-13">
                                @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    <a asp-controller="Dashboard" asp-action="EditUserProfile" asp-route-id="@Model.Id"
                                    class="btn btn-sm btn-outline-secondary">Edit Profile</a>
                                }
                                else
                                {
                                    <a asp-controller="Dashboard" asp-action="EditUserProfile"
                                       class="btn btn-sm btn-outline-secondary">Edit Profile</a>
                                }

                            </p>
                        </div>     
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <div class="card-header">Tenant's Apartment</div>
                    }
                    else
                    {
                        <div class="card-header">Your Apartment</div>
                    }
                    
                    <div class="card-body">
                        <div class="wrapper row">

                            @if(Model.Apartments != null)
                            {
                                <div class="preview col-md-6">
                               
                                        <div class="preview-pic tab-content">
                                        <div class="tab-pane active" id="pic-1"><img src=@Model.Apartments.ApartmentPictures.Pic1 /></div>
                                        <div class="tab-pane" id="pic-2"><img src=@Model.Apartments.ApartmentPictures.Pic2 /></div>
                                        <div class="tab-pane" id="pic-3"><img src=@Model.Apartments.ApartmentPictures.Pic3 /></div>
                                        <div class="tab-pane" id="pic-4"><img src=@Model.Apartments.ApartmentPictures.Pic4 /></div>
                                        <div class="tab-pane" id="pic-5"><img src=@Model.Apartments.ApartmentPictures.Pic5 /></div>
                                    </div>
                                    <ul class="preview-thumbnail nav nav-tabs">
                                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src=@Model.Apartments.ApartmentPictures.Pic1 /></a></li>
                                        <li><a data-target="#pic-2" data-toggle="tab"><img src=@Model.Apartments.ApartmentPictures.Pic2 /></a></li>
                                        <li><a data-target="#pic-3" data-toggle="tab"><img src=@Model.Apartments.ApartmentPictures.Pic3 /></a></li>
                                        <li><a data-target="#pic-4" data-toggle="tab"><img src=@Model.Apartments.ApartmentPictures.Pic4 /></a></li>
                                        <li><a data-target="#pic-5" data-toggle="tab"><img src=@Model.Apartments.ApartmentPictures.Pic5 /></a></li>
                                    </ul>

                                </div>
                                <div class="details col-md-6">
                                    <h3 class="product-title">@Model.Apartments.ApartmentCategory</h3>
                                    <p class="apartment-description">@Model.Apartments.Description </p>
                                    <p class="apartment-address">@Model.Apartments.Address.Address_Line1 </p>
                                    <p class="product-description">@Model.Apartments.Address.Address_Line2 </p>
                                    <p class="product-description">@Model.Apartments.Address.City </p>
                                    <p class="product-description">@Model.Apartments.Address.State </p>
                                    <p class="product-description">@Model.Apartments.Address.Zip </p>
                                    <h4 class="price">current price: <span>@Model.Apartments.Price</span></h4>

                                    <div class="action">
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                        {
                                            <a asp-controller="AboutUs" asp-action="ContactUs"
                                               class="btn btn-sm btn-outline-secondary">Contact the tenent</a>
                                            <a asp-controller="Apartments" asp-action="Edit" asp-route-id="@Model.Apartments.Id"
                                               class="btn btn-sm btn-outline-secondary">Edit Apartment</a>                                            
                                        }
                                        else
                                        {
                                            <a asp-controller="AboutUs" asp-action="ContactUs" asp-route-id="@Model.Apartments.Id"
                                               class="btn btn-sm btn-outline-secondary">Contact the Agent</a>
                                            <a asp-controller="AboutUs" asp-action="ReportIncident" asp-route-id="@Model.Id"
                                               class="btn btn-sm btn-outline-secondary">Log a call</a>
                                        }                                        
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h1>You have not rented an apartment yet.</h1>
                            }

         
                            
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </form>
</div>
