@using RentalsWebApp.Data.Enums
@using RentalsWebApp.ViewModels
@model BillingViewModel

<h1>Billing</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container-xl px-4 mt-4">
    <form>
        <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
    </form>

    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" asp-controller="Dashboard" asp-action="EditUserProfileByAdmin" asp-route-id="@Model.UserId" target="__self">Account Details</a>
        <a class="nav-link" asp-controller="Billing" asp-action="Index" asp-route-id="@Model.UserId" target=" __self">Billing</a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
        {
            <a class="nav-link" asp-controller="Dashboard" asp-action="Security" asp-route-id="@Model.UserId" target="__self">Security</a>
        }
        <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" asp-route-id="@Model.UserId" target="__self">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Water and Electricity for the month: @Model.Month</div>
                    <div class="h3">Water Bill: R @Model.WaterAmount</div>
                    <div class="h3">Electricity Bill: R @Model.ElectricityAmount</div>                   
                    <a class="text-arrow-icon small" asp-controller="Billing" asp-action="DownloadStatement" target="__self">
                        Click to Download the statement for confirmation
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Total amount due</div>
                    <div class="h3 d-flex align-items-center">Rent: R2500</div>
                    <div class="h3 d-flex align-items-center">Water and Electricity: R@(@Convert.ToDouble(@Model.WaterAmount)+@Convert.ToDouble(@Model.ElectricityAmount))</div>
                    <div class="h3 d-flex align-items-center">Total: R@(2500 + @Convert.ToDouble(@Model.WaterAmount) + @Convert.ToDouble(@Model.ElectricityAmount))</div>
                    <a class="text-arrow-icon small" asp-controller="Billing" asp-action="BankingDetails" target="__self">
                        Click here to View the Banking Details
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="small text-muted">Next payment due date</div>
                    <div class="h3">May 1</div>
                    <a class="text-arrow-icon small text-success" asp-controller="Billing" asp-action="PaymentHistory" target="__self">
                        View payment history
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Payment Methods
            <a class="btn btn-sm btn-outline-primary" asp-controller="Billing" asp-action="AddBankAccount" target="__self">Add new card</a>
            @* <a class="btn btn-sm btn-outline-primary" position="absolute" asp-controller="Billing" asp-action="ManualPayment" asp-route-id="@Model.UserId">Pay now</a> *@
            <a class="btn btn-sm btn-outline-primary" position="absolute" asp-controller="Billing" asp-action="UploadProofOfPayment" asp-route-id="@Model.UserId">Upload POP</a>
        </div>

        @foreach(var account in Model.BankAccount)
        {
            <div class="card-body px-0">
                <!-- Payment method 1-->
                <div class="d-flex align-items-center justify-content-between px-4">
                    <div class="d-flex align-items-center">
                   
                        @if(@account.CardDescreption == AccountCategory.Visa)
                        { 
                            <i class="fab fa-cc-visa fa-2x cc-color-visa"></i>                           
                        }
                        else if (@account.CardDescreption == AccountCategory.MasterCard)
                        {
                            <i class="fab fa-cc-mastercard fa-2x cc-color-mastercard"></i>
                        }
                        else
                        {
                            <i class="fab fa-cc-amex fa-2x cc-color-amex"></i>
                        }

                        <div class="ms-4">
                            <div class="small">@account.CardDescreption ending in @account.CardNumber.Substring(@account.CardNumber.Length-4)</div>
                            <div class="text-xs text-muted">Expires @account.ExpiryDate</div>
                        </div>
                    </div>
                    <div class="ms-4 small">
                      
                        @if (account.Active == true)
                        {
                            <div class="badge bg-light text-dark me-3">Default</div>
                        }
                        else if (account.Active == false)
                        {
                            <a asp-area="" asp-controller="Billing" asp-action="SetAccountAsDefault" asp-route-id="@account.Id">Set as default</a>
                        }
                         @*  *@
                        @* <div class="badge bg-light text-dark me-3">Default</div> *@
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Billing" asp-action="EditAccount" asp-route-id="@account.Id" target=" __self">Edit</a>
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Billing" asp-action="DeleteAccount" asp-route-id="@account.Id" target=" __self">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>      
</div>