@using RentalsWebApp.Data.Enums
@using RentalsWebApp.ViewModels
@model PaymentHistoryViewModel

@{
    ViewData["Title"] = "Payment History";
}
<nav class="nav nav-borders">

    @if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
    {
        <a class="nav-link" asp-controller="Dashboard" asp-action="EditUserProfile" target="__self">Account Details</a>
        <a class="nav-link" asp-controller="Documents" asp-action="Index" target="__self">Documents</a>
        <a class="nav-link" asp-controller="Billing" asp-action="Index" target=" __self">Billing</a>
        <a class="nav-link" asp-controller="Dashboard" asp-action="Security" target="__self">Security</a>
        <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" target="__self">Notifications</a>
    }
    else
    {
        <a class="nav-link" asp-controller="Dashboard" asp-action="EditUserProfile" asp-route-id="@Model.UserId" target="__self">Account Details</a>
        <a class="nav-link" asp-controller="Documents" asp-action="Index" asp-route-id="@Model.UserId" target="__self">Documents</a>
        <a class="nav-link" asp-controller="Billing" asp-action="Index" asp-route-id="@Model.UserId" target=" __self">Billing</a>
        <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" asp-route-id="@Model.UserId" target="__self">Notifications</a>

    }

</nav>
<hr class="mt-0 mb-4">
<!-- Billing history card-->
<div class="card mb-4">
    <div class="card-header">Billing History</div>
    <div class="card-body p-0">
        <!-- Billing history table-->
        <div class="table-responsive table-billing-history">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="border-gray-200" scope="col">Transaction ID</th>
                        <th class="border-gray-200" scope="col">Month</th>
                        <th class="border-gray-200" scope="col">Amount</th>
                        <th class="border-gray-200" scope="col">Status</th>
                        <th class="border-gray-200" scope="col">Download POP</th>

                    </tr>
                </thead>
                <tbody>
                    <form>
                        <input type="hidden" id="UserId" name="UserId" asp-for="UserId"/>
                    </form>
                    @{
                        @foreach(var billing in Model.Billing)
                        {
                            <tr>
                                <td>@billing.TransactionId</td>
                                <td>@billing.Month</td>
                                <td>R@(@Convert.ToDouble(Model.Rent) + @Convert.ToDouble(billing.WaterAmount) + @Convert.ToDouble(billing.ElectricityAmount))</td>
                                @if(billing.PaymentStatus == PaymentStatus.pending)
                                {
                                    <td><span class="badge bg-light text-dark">Pending</span></td>
                                }
                                else if (billing.PaymentStatus == PaymentStatus.paid)
                                {
                                    <td><span class="badge bg-success">Paid</span></td>
                                }
             
                                @if (billing.ProofOfPayment != null)
                                {
                                    <td><a class="btn btn-sm btn-outline-primary" asp-controller="ProofOfPayment" asp-action="DownloadProofOfPayment" asp-route-id="@billing.ProofOfPayment.Id" target="__self">Download POP</a></td>
                                }
                                else
                                {
                                    <td>Not Uploaded</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <a class="btn btn-sm btn-outline-secondary" asp-controller="Billing" asp-action="Index" asp-route-id="@Model.UserId">Return to Biling</a>

        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
        {
            <a class="btn btn-sm btn-outline-secondary" asp-controller="Billing" asp-action="Index">Return to Biling</a>
        }
    </div>
</div>
